<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polito.mad.team12.restaurantmanager" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:name=".RestaurantManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".ReservationsActivity"
            android:label="@string/title_activity_reservations"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AddMenuItemActivity" />
        <activity android:name=".CustomerMainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name=".ReservationsActivity"
            android:label="@string/title_activity_reservations"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity android:name=".AddMenuItemActivity" />
        <activity
            android:name=".FoodCategoryActivity"
            android:label="FoodCategoryActivity" >
        </activity>
        <activity
            android:name=".ReservationActivity"
            android:label="ReservationActivity" >
        </activity>
        <activity
            android:name=".ConfirmReservationActivity"
            android:label="ConfirmReservationActivity" >
        </activity>
   <activity         
android:name=".ShowItemDetailsActivity"
            android:label="@string/title_activity_show_item_details"
            android:theme="@style/AppTheme" />
        <activity android:name=".ShowOfferDetailsActivity"></activity>
        <activity android:name=".CustomerRestaurantActivityMain"></activity>
    </application>

</manifest>
